.clear{
  clear:both !important;
}
.hidden{
    display:none !important;
}

#maps {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}

#maps a{
    display:block;
    margin:5px;
    float:right;
}

#map {
  width: 800px;
  height: 600px;
  float:right;
  }

#sidebar
{
width: 250px;
background-color: #cccccc;
float:left;
}

#sidebar .sub{
    display:none;
}

#sidebar .selected .sub
{
    display:block;
}

#sidebar > div a:first-child{
    width: auto;
    height: 15px;
    padding: 5px;
    display: block;
    text-transform: uppercase;
    background-color: #999;
    border-bottom: 3px solid #cccccc;
}
form{

}
form > * {
  display: block;
  margin-right: 25px;
}
form span label {
  width: 160px;
  display: block;
  float:left;
  margin-top: 4px;
  height:22px;
}
form span input[type="text"] {
  width: 140px;
  display: block;
  float:right;
  height:22px;
}

#search input[type='reset'],
#search input[type='submit']{
    float:left;
}

#edit form > *{
display:block;
float:left;
}

#edit form label{
    clear:left;
    width:75px;
}

#edit form span  {
    width: 100%;
    height: 30px;
    display: block;
}

#edit .select label {
    width:100px;
    clear:none;
    margin:0px;
    float:none;
    display:inline;
}
#edit .select label:first-child {
    width:15px;
    clear:left;
}

#edit input[type="submit"],
#edit input[type="button"]{
    clear:left;
}

#edit label.pre{
    margin-right: 8px;
}

#wcp{
  display:block;
  background-color: white;
  margin:5px;
}
#wcp span {
  padding:5px;
  display: block;
  font-weight: bold;
}
#wcp span.a1 {
  color:#AA0000;
}
#wcp span.a2 {
  color:#0000AA;
}

#export{
  word-break: break-all;
}

.popup form{
    background-color:#eeeeee;
    border: 3px solid #666666;
    width: 250px;
}
.popup form > *{
    margin:10px 25px;
}

#todo p{
    font-size: 12px;
}
