.clear{
  clear:both !important;
}
.hidden{
    display:none !important;
}

#maps {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}

#maps a{
    display:block;
    margin:5px;
    float:right;
}

#map {
  width: 800px;
  height: 600px;
  float:right;
  }

#sidebar
{
width: 250px;
background-color: #cccccc;
float:left;
}

#sidebar .sub{
    display:none;
}

#sidebar .selected .sub
{
    display:block;
}

#sidebar > div > a:first-child{
    width: auto;
    height: 15px;
    padding: 5px;
    display: block;
    text-transform: uppercase;
    background-color: #999;
    border-bottom: 3px solid #cccccc;
}
form{

}
form > * {
  display: block;
  margin-right: 25px;
}
form span label {
  width: 160px;
  display: block;
  float:left;
  margin-top: 4px;
  height:22px;
}
form span input[type="select"],
form span input[type="text"] {
  width: 140px;
  display: block;
  float:right;
  height:22px;
}

form span input[type="text"]:focus{
    width: auto;
    position: absolute;
    right: 0;
}


form span input[type="text"].hex{
    width: 75px;
}

#theaters .theater span {
    margin-right: 5px;
}

#theaters .theater a {
    width: 110px;
    display: inline-block;
}

#attack input[type='submit'],
#attack input[type='reset'],
#search input[type='reset'],
#search input[type='submit']{
    float:left;
}

.edit form > *{
display:block;
float:left;
}

#attack form label,
.edit form label{
    clear:left;
    width:75px;
}
#attack form span,
.edit form span  {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    position: relative;
}

.edit form .m {
    height: auto;
}

.edit form div > .m {
    margin-left: 10px;
}

.edit form .m .m {
    margin-bottom: 5px;
}

.edit form .map .m .m > span {
    display: none;
}

.edit form .map .m .m.show > span {
    display: block;
}


.edit form .info .m > span {
    display: none;
}

.edit form .info .m.show > span {
    display: block;
}

.edit .select label {
    width:100px;
    clear:none;
    margin:0px;
    float:none;
    display:inline;
}
.edit .select label:first-child {
    width:15px;
    clear:left;
}

.edit .m > label{
    font-weight:bold;
    cursor:pointer;
}


.edit .m label.move{
    clear:none;
}


.edit .m input[name$="position"]{
    display:none;
}

.edit .m input[type="checkbox"]{
    margin:7px;
}

.edit select[name="attackingarmy"]{
    float:right;
}
.edit input[type="submit"],
.edit input[type="button"]{
    clear:left;
}

.edit label.pre{
    margin-right: 8px;
}

#edit .map,
#edit #update{
    display:none;
}

#picker {
    position: relative;
    z-index: 10;
    background-color: #DDDDDD;
    bottom: -28px;
}
.farbtastic, .farbtastic .wheel {
    margin: auto;
}
#wcp{
  display:block;
  background-color: white;
  margin:5px;
}
#wcp span {
  padding:5px;
  display: block;
  font-weight: bold;
}

#export{
  word-break: break-all;
}

.popup form{
    background-color:#eeeeee;
    border: 3px solid #666666;
    width: 250px;
}
.popup form > *{
    margin:10px 25px;
}

#todo p{
    font-size: 12px;
}
